.search{
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
}

.search-row-two{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1.5em;
}

.search-row{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1.5em;
}

.search-row > *
{
    width: 20%;
    margin-left: 1% !important;
}

.search-row-two > *
{
    width: 25%;
    margin-left: 1% !important;
}