.title{
    font-size: 2rem;
}

.container{
    text-align: center;
    padding: 4rem;
    justify-content: space-evenly;
}

.process-button{
    margin-top: 3rem !important;
}

.upload-button{
    align-content: center;
    align-items: center;
    align-self: center;
}

.loading-section{
    margin-top: 3rem !important;
}